/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1440,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  --step--2: clamp(0.78rem, calc(0.73rem + 0.26vw), 0.96rem);
  --step--1: clamp(0.94rem, calc(0.86rem + 0.38vw), 1.20rem);
  --step-0: clamp(1.13rem, calc(1.02rem + 0.54vw), 1.50rem);
  --step-1: clamp(1.35rem, calc(1.20rem + 0.75vw), 1.88rem);
  --step-2: clamp(1.62rem, calc(1.41rem + 1.03vw), 2.34rem);
  --step-3: clamp(1.94rem, calc(1.66rem + 1.41vw), 2.93rem);
  --step-4: clamp(2.33rem, calc(1.95rem + 1.90vw), 3.66rem);
  --step-5: clamp(2.80rem, calc(2.29rem + 2.54vw), 4.58rem);
}