---
// import discussions from '../data/discussions.yml'
const discussions = [{
  name: 'Hacker News',
  url: 'https://news.ycombinator.com/item?id=31915573'
}, {
  name: 'Meteor Forums', url: 'https://forums.meteor.com/t/meteor-by-sacha-greif/58285'
}]
---

<section>
  <h2>Discussions</h2>
  {discussions.map(({name, url}) =>
  <li><a href={url}>{name}</a></li>)}
</section>

<style lang="scss">
</style>