---
import { getWebmentions } from '../helpers/webmentions';
import Mention from './Mention.astro';
const mentions = await getWebmentions()
---

<section>
  <h2>Webmentions</h2>
  {mentions.map(mention =>
  <Mention {...mention} />)}
</section>

<style lang="scss">
</style>