---
const { name, url, author } = Astro.props;
const img = Astro.props.name.replaceAll(' ', '_').toLowerCase();
---

<div class="person">
  <h4 class="heading">{author ? <span>About the Author</span>: <span>Spotlight</span>}</h4>
  <a class="photo" href={url}>
    <img src={`/people/${img}.jpg`} alt={name} />
    <h3 class="name">{name}</h3>
  </a>
  <div class="bio">
    <slot />
  </div>
</div>

<style lang="scss">
  .person {
    // border: 1px solid var(--borderColor);
    // padding: var(--spacing);
    border-radius: 10px;

    background: white;
    padding: var(--spacing);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);

    @media screen and (min-width: 900px) {
      font-size: var(--step--1);
      float: right;
      max-width: 280px;
      margin: 0 0 var(--doubleSpacing) var(--doubleSpacing);
      margin-right: -120px;
    }
  }

  .heading {
    text-transform: uppercase;
    margin: 0;
    font-size: var(--step--1);
    font-family: var(--altFontFamily);
    font-weight: bold;
    letter-spacing: 1.5px;
    text-align: center;
  }

  .name {
    margin: 0;
    background: var(--altBackgroundColor);
    font-family: var(--altFontFamily);
    text-transform: uppercase;
    padding: 3px 8px;
    text-align: center;
    font-size: var(--step--2);
  }

  .photo {
    display: block;
    width: 160px;
    // background: var(--textColor);
    // padding: var(--halfSpacing);
    // border-radius: 100%;
    // overflow: hidden;
    border: 5px solid var(--altBackgroundColor);
    text-decoration: none;
  }

  img {
    display: block;
    width: 100%;
    // border-radius: 100%;
    // aspect-ratio: 1/1;
    // overflow: hidden;
  }

  .bio {}
</style>